<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleBattlePage.css">
    <title>Battle!</title>
</head>
<body>
    <button id="giveUpButton">Give Up</button>
    <div id="mainContainer">
        <div id="opponentSide">
            <div id="opponentInfo"></div>
            <div id="opponentCards"></div>
        </div>
        <div id="userSide">
            <div id="userCards"></div>
            <div id="userInfo"></div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/battlePageScript.js"></script>
</body>
</html>