<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>MainPage</title>
</head>
<body>
    <div id="notificationContainer"></div>
    <div id="accauntContainer">
        <div id="userData"></div>
        <div>
            <form id="logoutForm" action="/logOut" method="POST" style="display:none;"></form>
            <div class="redirectButton" onclick="document.getElementById('logoutForm').submit()">Log Out</div>
        </div>
    </div>
    <script type="module" src="/mainPageScript.js"></script>
</body>
</html>