<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Password reminder form</title>
</head>
<body>
    <div id="notificationContainer"></div>
    <div id="remindPasswordContainer">
        <div class="redirectButton" id="back" onclick="window.location.href = '/loginForm'">Back</div>
        <form action="/remindPassword" method="post" id="restorePasswordForm">
            <h1>Password restore form</h1>
            <div>
                <label for="email">Enter email to restore password:</label>
                <input type="email" name="email" placeholder="Enter email">    
            </div>
            <div class="hidden">
                <label for="code">Enter code from email:</label>
                <input type="text" name="code" placeholder="Enter code" disabled>    
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script type="module" src="/restorePasswordFormScript.js"></script>
</body>
</html>