html,
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #1f1f1f;
    position: relative;
    color: white;
}

#giveUpButton {
    cursor: pointer;

    position: fixed;
    bottom: 20px;
    right: 20px;
}

#endTurn {
    cursor: pointer;

    position: fixed;
    bottom: 50px;
    right: 20px;    
}

#mainContainer {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100%;
}

#opponentSide{
    display: grid;
    grid-template-rows: 65% 35%;
    height: 100%;
}

#userSide {
    display: grid;
    grid-template-rows: 35% 65%;
    height: 100%;
}

#opponentInfo{
    display: grid;
    grid-template-rows: 40% 60%;
    width: fit-content; 
    margin: 0 auto;
}

 #userInfo {
    display: grid;
    grid-template-rows: 40% 60%;
    width: fit-content; 
    margin: 0 auto;
}

#userLogin, #opponentLogin {
    text-align: center;
}

#opponentHand {
    height: 150px;
}

#userHand {
    height: 160px;
}

#opponent {
    display: grid;
    grid-template-rows: 80% 20%;
}

#user {
    display: grid;
    grid-template-rows: 80% 20%;
}

#userTable, #opponentTable {

}

.card, .card-back{
    display: inline-block;
    height: 150px;
    margin: 0 10px;
        
}

.card-img {
    height: 100%;
    object-fit: cover;
}

.card-name {
    font-weight: bold;
    text-align: center;
}
