html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #1f1f1f;
    position: relative;
    color: white;
}

#loginContainer, #accauntContainer, #remindPasswordContainer, #registerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
    padding: 10%;

    border: 1px solid #181818;
}

#loginContainer, #registerContainer{
    width: 200px;
}

#loginContainer, #accauntContainer, #remindPasswordContainer, #registerContainer input{
    margin: 0 0 10px 0;
}

#loginForm, #registerForm{
    display: flex;
    flex-direction: column;
}

.redirectField {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.redirectButton {
    cursor: pointer;
    padding: 10px;
    color: #007bff;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.redirectButton:hover {
    text-decoration: underline;
}

#notificationContainer {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.notification {
    display: flex;
    align-content: center;
    align-items: center;

    min-width: 180px;
    height: 30px;
    border-radius: 20px;
    padding: 10px;

    transform: translateX(120%);
    transition: transform 0.3s ease-in-out;
}

.notification.show {
    transform: translateX(0);
}

#userData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#remindPasswordContainer {
    position: relative;
}

#back {
    position: absolute;
    top: 10px;
    left: 10px;
}

.hidden {
    display:none;
}
